html,body{
	height: 100%;
	width: 100%;
	font-family: 'Poppins',sans-serif;
	color: #222;
}
.navbar{
	padding: .8rem;
}
.navbar nav li{
	padding-right: 20px;
}
.carousel-inner img{
	width: 100%;
	height: 100%;
}
.carousel-caption{
	position: absolute;
	top:50%;
	transform: translateY(-50%);
}
.carousel-caption h1{
	font-size:500% 
	text-transform:uppercase;
	text-shadow: 1px 1px 10px #000;
}
.carousel-caption h3{
	font-size: 200%;
	font-weight:500;
	text-shadow: 1px 1px 10px #000;
}
.btn-primary{
	background-color: #6648b1;
	border:1px solid:#563d7c;
}
.btn-primary:hover{
	background-color: #563d7c;
	border:1px solid :#563d7c;
}
.jumbotron{
	padding: 1rem;
	border-radius: 0;
}
.padding{
	padding-bottom: 2rem;
}
.Welcome{
	width: 75%;
	margin:0 auto;
	padding-top: 2rem;
}
.Welcome hr{
	border-top: 2px solid #b4b4b4;
	width: 95%;
	margin-top: .3rem;
	margin-bottom: 1rem;
}
.fa-code{
	color:#e54d26;
}

.fa-bold{
	color: #563d7c;
}
.fa-css3{
	color: #2163af;
}
.fa-code ,.fa-bold ,.fa-css3{
	font-size: 4em;
	margin: 1rem;
}
.fun{
	width: 100%;
	margin-bottom: 2rem;
}

.gif{
	max-width: 100%;
}
.social a{
	font-size: 4.5em;
	padding: 3rem;
}

.fa-facebook-official{
	color:#3b5998;
}
.fa-twitter{
	color:#00aced; 
}
.fa-google-plus{
	color:#dd4b39;
}

.fa-instagram{
	color: #517fa4;
}
.fa-youtube-play{
	color: #bb0000;
}
.fa-facebook-official:hover,
.fa-twitter:hover,
.fa-google-plus:hover,
.fa-instagram:hover,
.fa-youtube-play:hover{
	color:#bb0000;
}
footer{
	background-color: #3f3f3f;
	color: #d5d5d5;
	padding-top: 2rem;
}
hr.light{
		border-top: 1px solid #d5d5d5;
		width: 75%;
		margin-top: .8rem;
		margin-bottom: 1rem;
} 
footer a{
	color: #d5d5d5;
}

#fixed{
	color: green;
}








nav img{
	height: 50px;
}
.row-padding{
	display: flex;
}
.img-fluid{
	width: 100%;
	height: 200px;
}
#emoji img{
	height: 80px;
}
footer img{
	height: 50px;
}